
<body>

        <div id="mainText">
<h1>Vague Goal = Unachievable!</h1>
<h4>I will exercise more this year... bad!!! what exercise? how often? for how long?</h4>
<h4>I will do 20 push ups every weekday for the next 3 months ... clear, achievable, specific!</h4>

<h4>This website helps you to create clear, achievable goals, even if you only have a vague idea!</h4>
<h4>Turn your vague idea into a specific, measurable, achievable goal!</h4>

<button mat-flat-button (click)="nextPage()">Let's Get Started!</button>


        </div>


</body>
<a href="https://www.vecteezy.com/free-vector/achieve">Achieve Vectors by Vecteezy</a>