
<body>

            <div id="confirmation">
<h2>Congratulations on setting your new goal!</h2>
<h2>A confirmation email has been sent to you.</h2>
<h2>Your unique task id is {{TASK_ID_OBJECT.task_id}}</h2>


<h4 >Activate Telegram Bot for reminder notifications! <span> <a href="https://t.me/Clear_Goal_Reminder_bot" target="_blank">Activate Telegram Bot</a></span></h4>


<div>
<button (click)="nextPage()" mat-flat-button>CREATE ANOTHER GOAL!</button>
</div>

<div>
<button (click)="deleteTask(TASK_ID_OBJECT.task_id)" mat-flat-button id="deleteButton">DELETE THIS TASK {{TASK_ID_OBJECT.task_id}}</button>
</div>


            </div>
</body>