<body>

        <section id="wrapper">


            <div id="left" >
<form [formGroup]="form">

<label for="prompt">I want to...</label>
<input type = "text" id="prompt" placeholder="exercise?...diet?" formControlName="prompt" >

<div>
    <button type="submit" (click)="submitForm()" mat-flat-button>Get Suggestions!</button>
</div>
</form>
            </div>


            <div id="right">
<br><br>

@for(suggestion of suggestionListItems$|async; track suggestion.activity){
    <br>
    <mat-card>
    <div style="border: 3px solid blue;">
    <mat-card-title>{{suggestion.activity}}</mat-card-title>
    <h4>{{suggestion.reps}}</h4>
    <h4>{{suggestion.description}}</h4>
    <button (click)="addSuggestionToStore(suggestion)" mat-flat-button>THIS TEMPLATE SEEMS GOOD!</button>
    </div>
    </mat-card>
    <br>
}

        </div>

        <div class="three">
            <h1>CLASS 3</h1>
            <button (click)="nextPage()" mat-flat-button>NEXT STEP</button>
        </div>

        </section>  


</body>