body{
    background-image:url('/images/details.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



#wholeForm {
    padding-top: 10%;
    padding-left: 3%;
    flex: 0 0 15%;
  }

  #task_detail{
    color: rgb(228, 102, 44);
    font-size: 30px;
  }


  input{
    font-size: 20px;
    border-radius: 25px;
  }


  label{
    font-size: 25px;
  }

  #task_detail_label{
    font-size: 30px;
  }