<p>userdetails works!</p>
<button (click)="nextPage()">GO TO CONFRIMATION</button>

<form [formGroup]="form">

    <label for="email">Your Email</label>
    <input type = "text" id="email" placeholder="Your Email..." formControlName="email" >

    <label for="telegram_id">Your Telegram ID</label>
    <input type = "text" id="telegram_id" placeholder="Your Telegram ID" formControlName="telegram_id" >


    
    
    <label for="mon">Monday</label>
    <input type="checkbox" id="mon" formControlName="mon">

    <label for="mon">Tuesday</label>
    <input type="checkbox" id="tue" formControlName="tue">

    <label for="mon">Wednesday</label>
    <input type="checkbox" id="wed" formControlName="wed">

    <label for="mon">Thursday</label>
    <input type="checkbox" id="thu" formControlName="thu">

    <label for="mon">Friday</label>
    <input type="checkbox" id="fri" formControlName="fri">

    <label for="mon">Saturday</label>
    <input type="checkbox" id="sat" formControlName="sat">

    <label for="mon">Sunday</label>
    <input type="checkbox" id="sun" formControlName="sun">

   
    <label for="task_detail">Task Details</label>
    <input type = "text" id="task_detail" placeholder="Your Task Details" formControlName="task_detail">
    <!-- USE VALUE ATTRIBUTE?? -->

    <label for="task_detail">Misc</label>
    <input type = "text" id="misc" placeholder="Misc..." formControlName="misc" >

    <div style="padding: 5%;">
        <button type="submit" (click)="submitForm()">Lock it in!</button>
    </div>


</form>


<button (click)="addTASKIDtoStore()">ADD TASK ID TO STORE</button>