body{
    background-image:url('/images/helping_to_reach_goal.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}



#wholeForm {
    padding-top: 15%;
    padding-left: 3%;
    flex: 0 0 15%;
  }


  input{
    font-size: 30px;
    border-radius: 30px;
  }


  label{
    font-size: 30px;
  }