
<body>
<div>
<form [formGroup]="form">

    <div>
        <label for="task_detail">Task Details</label>
        <input type = "text" id="task_detail" placeholder="Your Task Details" formControlName="task_detail" size="40">
        </div>
    

    <div>
    <label for="email">Your Email</label>
    <input type = "text" id="email" placeholder="Your Email..." formControlName="email" >
    </div>

    <div>
    <label for="telegram_id">Your Telegram ID</label>
    <input type = "text" id="telegram_id" placeholder="Your Telegram ID" formControlName="telegram_id" >
    </div>


    
    <label for="dayboxes">Days to receive reminders from Telegram bot</label>
    <div class="dayboxes">
    
    <label for="mon">Monday</label>
    <input type="checkbox" id="mon" formControlName="mon">

    <label for="mon">Tuesday</label>
    <input type="checkbox" id="tue" formControlName="tue">

    <label for="mon">Wednesday</label>
    <input type="checkbox" id="wed" formControlName="wed">

    <label for="mon">Thursday</label>
    <input type="checkbox" id="thu" formControlName="thu">

    <label for="mon">Friday</label>
    <input type="checkbox" id="fri" formControlName="fri">

    <label for="mon">Saturday</label>
    <input type="checkbox" id="sat" formControlName="sat">

    <label for="mon">Sunday</label>
    <input type="checkbox" id="sun" formControlName="sun">
    </div>
   

    <label for="task_detail">Misc</label>
    <input type = "text" id="misc" placeholder="Misc..." formControlName="misc" >

    <div style="padding: 1%;">
        <button type="submit" (click)="submitForm()" mat-flat-button>Lock it in!</button>
    </div>

</form>
</div>


<div *ngIf="this.TASK_ID_OBJECT.task_id.length<10">
<h4>Your task has been recorded successfully!</h4>
<button (click)="nextPage()" mat-flat-button>GO TO CONFRIMATION</button>
</div>

</body>